<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<% if(config.author){ %>
    <meta name="author" content="<%- config.author %>">
<% } %>
<% if(config.subtitle){ %>
    <meta name="subtitle" content="<%- config.subtitle %>">
<% } %>
<% if(config.description){ %>
    <meta name="description" content="<%- config.description %>">
<% } %>
<% if(config.keywords){ %>
    <meta name="keywords" content="<%- config.keywords %>">
<% } %>
<%
var title = page.title;

if (is_archive()){
    title = __('archive_a');

    if (is_month()){
        title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
        title += ': ' + page.year;
    }
} else if (is_category()){
    title = __('category') + ': ' + page.category;
} else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
}
%>
<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

<%# favicon %>
<% if (theme.favicon){ %>
				<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
				<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
				<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
				<link rel="manifest" href="/site.webmanifest">
				<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
				<meta name="msapplication-TileColor" content="#da532c">
				<meta name="theme-color" content="#ffffff">
<% } %>

<%# css list %>
<% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
    <link rel="stylesheet" href="<%- url_for(url) %>">
    <% }); %>
<% } %>
<%# javascript list %>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
    <!-- scripts list from _config.yml -->
    <% theme.scripts.forEach(url => { %>
    <script src="<%- url_for(url) %>"></script>
    <% }); %>
<% } %>
<%# mathjax support %>
<% if(theme.mathjax.enable!==null&&theme.mathjax.enable===true){ %>
    <%# import mathjax method: global or demand %>
    <% if(theme.mathjax.import === 'global'){ %>
        <%- partial('_plugins/mathjax.ejs') %>
    <% } else if(theme.mathjax.import === 'demand'){ %>
        <% if (page.mathjax){ %>
            <%- partial('_plugins/mathjax.ejs') %>
        <% } %>
    <% } %>
<% } %>
<%- fbcommentshead() %>
